<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".domain.StoreSoftwareApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StoreSoftware"
        tools:targetApi="31">
        <activity
            android:name=".ui.sale.addReceiptSale.SelectProductSaleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sale.editDeleteSale.EditDeleteSaleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sale.consultReceiptSale.ConsultReceiptSaleActivity"
            android:exported="false"/>
        <activity
            android:name=".ui.shopping.editDelete.EditDeleteBuyReceiptActivity"
            android:exported="false" />
        <activity
            android:name=".ui.shopping.Details.PurchaseReceiptDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.shopping.Consult.ConsultPurchaseReceiptsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.editDeleteProduct.DeleteEditProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.editDeleteProduct.SelectProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.HomeProduct.MainProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.editDeleteUser.EditDeleteUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.RegisterUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.ConsultUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.Store.RegisterStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.shopping.Register.CreatePurchasesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.sale.addReceiptSale.CreateSaleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.product.addproduct.CreateProductActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.user.LogInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.storesoftware.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/path_provider" />
        </provider>
    </application>

</manifest>